<header class="app-bar promote-layer">
    <div class="app-bar-container">
        <button class="menu"><span class="icon-menu"></span></button>

        <div class="Heading">
            <%= link_to root_path, class: "Back" do %>
                <span class="icon-chevron-left-thin"></span><span class="Back-text">Back</span>
            <% end %>
            <h1 class="title"><span>Edit Your Profile</span></h1>
        </div>

        <ul class="app-bar-actions">
            <li>
                <button class="button button--primary" form="_form">Submit</button>
            </li>
        </ul>

    </div>
</header>

<main>
    <div class="Form u-pushTopBottom clear Form--dual">
        <div class="Form--dualDivider">
            <div class="g--half">
                <%= form_for(resource, as: resource_name, url: registration_path(resource_name), html: {method: :put, id: "_form" }) do |f| %>

                    <%= devise_error_messages! %>



                    <div class="Form-group">
                        <%= f.label :organization_id, "Organization" %>
                        <div class="col-sm-3">
                            <%= f.collection_select(:organization_id, Organization.all, :id, :name, {prompt: true}, {class: "Form-control"} ) %>
                        </div>
                    </div>

                    <div class="Form-group">
                        <%= f.label :email %>
                        <div class="col-sm-3">
                            <%= f.email_field :email, class: "Form-control" %>
                        </div>
                    </div>

                    <div class="Form-group">
                        <%= f.label :username %>
                        <%= f.text_field :username, class: "Form-control" %>
                    </div>

                    <div class="Form-group">
                        <%= f.label :first_name %>
                        <%= f.text_field :first_name, class: "Form-control" %>
                    </div>

                    <div class="Form-group">
                        <%= f.label :last_name %>
                        <%= f.text_field :last_name, class: "Form-control" %>
                    </div>

                    <div class="Form-group">
                        <%= f.label :gender %>
                        <div>
                            <label>
                                <%= f.radio_button :gender, 'Male', checked:true %> Male
                            </label>
                            <label>
                                <%= f.radio_button :gender, 'Female' %> Female
                            </label>
                        </div>
                    </div>

                    <div class="Form-group">
                        <%= f.label :location %>
                        <%= f.collection_select(:location, Country.all, :name, :name, {include_blank: "None"}, {class: "Form-control"}) %>
                    </div>

                    <div class="Form-group">
                        <%= f.label :lang, "Language Contribution" %>
                        <%= f.collection_select(:lang, Language.all, :name, :name, {include_blank: "None"}, {class: "Form-control"}) %>
                    </div>

                    <div class="Form-group">
                        <%= f.label :contact, "Contact Number" %>
                        <%= f.text_field :contact, class: "Form-control" %>
                    </div>

                    <% if devise_mapping.confirmable? && resource.pending_reconfirmation? %>
                        <div>Currently waiting confirmation for: <%= resource.unconfirmed_email %></div>
                    <% end %>
                    <br/>

                    <div class="Form-group">
                        <span class="help-inline">Fill out the following fields only if you wish to change your password.</span>
                    </div>

                    <div class="Form-group">
                        <%= f.label :password %>
                        <%= f.password_field :password, class: "Form-control" %>
                    </div>

                    <div class="Form-group">
                        <%= f.label :password_confirmation %>
                        <%= f.password_field :password_confirmation, class: "Form-control" %>
                    </div>

                    <div class="Form-group">
                        <div>
                            <%= f.label :current_password %>
                            <%= f.password_field :current_password, class: "Form-control" %>
                            <span class="help-inline">(If you don't want to change your username or password then leave this field blank.)</span>
                        </div>
                    </div>

                <% end %>
            </div>

            <div class="g--half g--last">
                <dl class="Info">
                    <dt>API key</dt>
                    <dd>
        <span rows="1" onclick="this.focus();this.select()" class="form-control">
          <%= current_user.authentication_token %>
        </span>
                        <span class="help-inline"><%= link_to "Regenerate", users_regenerate_api_key_path, method: :post, class: "Info-more" %></span>
                    </dd>
                </dl>


                <div class="Form-group">
                    <h3>Cancel my account</h3>
                    <div>
                        <p>Unhappy? <br />
                            <%= button_to "Cancel my account", registration_path(resource_name), data: { confirm: "Are you sure?" }, method: :delete, class: "button button--danger" %>
                        </p>
                    </div>
                </div>
            </div>

        </div>

        <div class="clear"></div>
    </div>
</main>
