<div class="User-content">
    <h3>Create New Account</h3>

    <%= form_for(resource, as: resource_name, url: registration_path(resource_name), html: {class: "Form"}) do |f| %>
        <%= render partial: "shared/error_messages", object: resource %>
        <%#= devise_error_messages! %>

        <div class="Form-group">
            <%= f.label :organization_id, "Organization", class: "control-label col-sm-3" %>
            <%= f.collection_select(:organization_id, Organization.all, :id, :name, {prompt: true}, {class: "Form-control"}) %>
        </div>

        <div class="Form-group">
            <%= f.label :email, class: "control-label col-sm-3" %>
            <%= f.text_field :email, class: "Form-control" %>
        </div>

        <div class="Form-group">
            <%= f.label :username, class: "control-label col-sm-3" %>
            <%= f.text_field :username, class: "Form-control" %>
        </div>

        <div class="Form-group">
            <%= f.label :first_name, class: "control-label col-sm-3" %>
            <%= f.text_field :first_name, class: "Form-control" %>
        </div>

        <div class="Form-group">
            <%= f.label :last_name, class: "control-label col-sm-3" %>
            <%= f.text_field :last_name, class: "Form-control" %>
        </div>

        <div class="Form-group">
            <%= f.label :gender, class: "control-label col-sm-3" %>
            <div>
                <label>
                    <%= f.radio_button :gender, 'Male', checked:true %> Male
                </label>
                <label>
                    <%= f.radio_button :gender, 'Female' %> Female
                </label>
            </div>
        </div>

        <div class="Form-group">
            <%= f.label :lang %>
            <%= f.collection_select(:lang, Language.all, :name, :name, {include_blank: "None"}, {class: "Form-control"}) %>
        </div>

        <div class="Form-group">
            <%= f.label :password, class: "control-label col-sm-3" %>
            <%= f.password_field :password, class: "Form-control" %>
        </div>

        <div class="Form-group">
            <%= f.label :password_confirmation, class: "control-label col-sm-3" %>
            <%= f.password_field :password_confirmation, class: "Form-control" %>
        </div>

        <div>
            <button class="button button--primary" type="submit">Sign Up</button>
            <%- if controller_name != 'sessions' %>
                <%= link_to "Sign in", new_session_path(resource_name), class: "u-fr links u-links" %>
            <% end -%>
        </div>
    <% end %>
</div>

<div class="User-footer">
    <p class="u-pushTop20">&nbsp;</p>
</div>
