<div class="article" data-id="<%= article.id %>" data-time="<%= article.created_at.to_i %>">
<tr>
<td>
  <% if article.language.present? %>
    <%= link_to article.language.name, article_path(article) %>
  <% end %>
</td>
<td><%= article.category %></td>
<td><%= article.english %></td>
<td><%= article.phonetic %></td>
<td><% if article.picture.present? %>Uploaded<% end %></td>
<td><%= link_to 'Edit', edit_article_path(article) %></td>
<% if current_user.has_any_role? :admin, :volunteer %>
<td><%= link_to 'Delete', article_path(article), method: :delete, class: "btn btn-danger btn-xs", data: { confirm: 'Are you sure?' } %></td>
<% end %>
</tr>
</div>
