<%= form_for @article, html: {class: "Form--dual", id: "_form"} do |f| %>
    <%= render partial: "shared/error_messages", object: @article %>

    <div class="Form--dualDivider">
        <div class="g--half">

            <div class="Form-group">
                <%= f.label :picture %>
                <%= image_tag(@article.picture_url, width: 400) if @article.picture.present? %>
                <%= f.file_field :picture, class: "Form-control" %>

                <% if @article.picture.present? %>
                    <span class="help-inline">( If you wish to change the picture, click on browse and upload the new file.)</span>
                <% end %>
            </div>

            <div class="Form-group">
                <%= f.label :language_id, "Language" %>
                <div>
                    <% if current_user.has_any_role? :superadmin, :admin, {name: :volunteer, resource: :any} %>
                        <%= f.collection_select(:language_id, Language.all, :id, :name, {}, {class: "Form-control"}) %>
                    <% elsif current_user.has_role? :contributor, :any %>
                        <%= f.collection_select(:language_id, Language.where(name: current_user.lang), :id, :name, {}, {class: "Form-control"}) %>
                    <% end %>
                </div>
            </div>

            <div class="Form-group">
                <%= f.label :category %>
                <%= f.collection_select(:category_id, @categories, :id, :name, {}, {class: "Form-control"}) %>
            </div>

            <div class="Form-group">
                <%= f.label :english, "English Text" %>
                <%= f.text_field :english, class: "Form-control" %>
            </div>

            <div class="Form-group">
                <%= f.label :phonetic, "Phonetic Text" %>
                <%= f.text_field :phonetic, class: "Form-control" %>
            </div>

            <% if can?(:delete, Article) %>
                <div class="Form-group">
                    <%= f.label :state, "Publish" %>
                    <%= f.select :state, [["Unpublish", 'draft'], ['Publish', 'published']], {}, class: "Form-control" %>
                </div>
            <% end %>

        </div>
    </div>
<% end %>
