<%# if current_user.login_approval == 'Yes' %>
<%# if current_user.has_role? :admin %>

<div class="row">
  <div class="col-md-12">
<%= form_for @language, html: {class: "form-horizontal"} do |f| %>

  <% if @language.errors.any? %>
  <div id="error_explanation">
    <h2><%= pluralize(@language.errors.count, "error") %> prohibited
      this language from being saved:</h2>
    <ul>
    <% @language.errors.full_messages.each do |msg| %>
      <li><%= msg %></li>
    <% end %>
    </ul>
  </div>
  <% end %>

  <div class="form-group">
    <%= f.label :name, class: "control-label col-sm-3" %>
    <div class="col-sm-3">
      <%= f.text_field :name, class: "form-control" %>
    </div>
  </div>

  <div class="form-group form-actions">
    <div class="col-sm-offset-3 col-sm-3">
      <button class="btn btn-primary" type="submit">Create Language</button>
    </div>
  </div>
<% end %>

  </div>
</div>

<%# end %>
<%# end %>
