<h1>Listing Languages</h1>
 
<table class="table table-striped">
  <tr>
    <th>Name</th>
    <% if current_user.has_role? :admin %>
    <th colspan="2"></th>
    <% else %>
    <th colspan="1"></th>
    <% end %>
  </tr>
  <% @languages.each do |language| %>
    <tr>
      <td><%= language.name %></td>
      <td><%= link_to 'Photos', language_path(language) %></td>
      <% if current_user.has_role? :admin %>
        <td>
          <%= link_to 'Edit', edit_language_path(language) %>
          <%= link_to 'Delete', language_path(language), method: :delete, class: "btn btn-danger btn-xs", data: { confirm: 'Are you sure?' } %>
        </td>
      <% end %>
    </tr>
  <% end %>
</table>

<%= paginate @languages %>
