<header class="app-bar promote-layer">
    <div class="app-bar-container">
        <button class="menu"><span class="icon-menu"></span></button>

        <div class="Heading">
            <h1 class="title"><span>Languages</span></h1>
        </div>
    </div>
</header>

<main>
    <div class="AppControls">
        <div class="AppControls--box AppControls-left">
            <form class="Form Form--inline AppControls-search">
                <div class="Form-group">
                    <input type="search" class="Form-control" id="search" placeholder="Search Languages" />
                </div>
                <button type="submit" class="btn btn-default icon-search">Search</button>
            </form>
        </div>

        <div class="AppControls--box AppControls-middle"></div>

        <div class="AppControls--box AppControls-right">
            <a class="button--icontext button--ricontext" href="<%= new_language_path %>"><i class="icon-plus"></i> <span>New Language</span></a>
        </div>
    </div>

    <div class="CardListTable">
        <ul class="CardListTable-body">

            <% @languages.each do |language| %>
                <li>
                    <ul class="CardListTableRow">
                        <li class="CardListTable-cal u-w30px" data-th="#">
                            <div class="CardListTable-content">
                                <% if can? :update, language %>
                                    <%= link_to language.id, edit_language_path(language) %>
                                <% else %>
                                    <%= language.id %>
                                <% end %>
                            </div>
                        </li>

                        <li class="CardListTable-cal u-w300px" data-th="Name">
                            <div class="CardListTable-content">
                                <%= language.name %>
                            </div>
                        </li>

                        <% if can? :update, language %>
                            <li class="CardListTable-cal CardListTable-cal--noheading u-w60px tar" data-th="Action">
                                <div class="CardListTable-content">
                                    <div class="dropdown">
                                        <a data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" class="button--icon" href="#"><i class="icon-action"></i></a>
                                        <ul class="dropdown-menu u-rightPopup">
                                            <li>
                                                <%= link_to 'Edit', edit_language_path(language) %>
                                            </li>
                                            <% if can? :destroy, language %>
                                                <li>
                                                    <%= link_to 'Delete', language_path(language), method: :delete, data: { confirm: 'Are you sure?' } %>
                                                </li>
                                            <% end %>
                                        </ul>
                                    </div>
                                </div>
                            </li>
                        <% end %>

                    </ul>
                </li>
            <% end %>
        </ul>
    </div>

    <%= paginate @languages %>
</main>
