<%= form_for @user, html: {class: "Form--dual", id: "_form"} do |f| %>
<%= render partial: "shared/error_messages", object: @user %>

<div class="Form--dualDivider">
  <div class="g--half">

  <div class="Form-group">
    <%= f.label :organization_id, "Organization" %>
    <%= f.collection_select(:organization_id, Organization.all, :id, :name, {prompt: true}, {class: "Form-control"}) %>
  </div>

  <div class="Form-group">
    <%= f.label :email %>
    <%= f.email_field :email, class: "Form-control" %>
  </div>

  <div class="Form-group">
    <%= f.label :username %>
    <%= f.text_field :username, class: "Form-control" %>
  </div>

  <div class="Form-group">
    <%= f.label :first_name %>
    <%= f.text_field :first_name, class: "Form-control" %>
  </div>

  <div class="Form-group">
    <%= f.label :last_name %>
    <%= f.text_field :last_name, class: "Form-control" %>
  </div>

  <div class="Form-group">
    <%= f.label :gender %>
    <div>
      <label>
        <%= f.radio_button :gender, 'Male', checked:true %> Male
      </label>
      <label>
        <%= f.radio_button :gender, 'Female' %> Female
      </label>
    </div>
  </div>

  <div class="Form-group">
    <%= f.label :location %>
    <%= f.collection_select(:location, Country.all, :name, :name, {include_blank: "None"}, {class: "Form-control"}) %>
  </div>

  <div class="Form-group">
    <%= f.label :lang, "Language Contribution" %>
    <%= f.collection_select(:lang, Language.all, :name, :name, {include_blank: "None"}, {class: "Form-control"}) %>
  </div>

  <div class="Form-group">
    <%= f.label :contact, "Contact Number" %>
    <%= f.text_field :contact, class: "Form-control" %>
  </div>

  </div>
</div>
<% end %>
