<div class="row">
  <div class="col-md-12">
    <%= form_for @user, html: { class: "form-horizontal" } do |f| %>

    <%= render partial: "shared/error_messages", object: @user %>

    <div class="form-group">
      <%= f.label :organization_id, "Organization", class: "control-label col-sm-3" %>
      <div class="col-sm-3">
        <%= f.collection_select(:organization_id, Organization.all, :id, :name, prompt: true) %>
      </div>
    </div>

    <div class="form-group">
      <%= f.label :email, class: "control-label col-sm-3" %>
      <div class="col-sm-3">
        <%= f.email_field :email, class: "form-control" %>
      </div>
    </div>

    <div class="form-group">
      <%= f.label :username, class: "control-label col-sm-3" %>
      <div class="col-sm-3">
        <%= f.text_field :username, class: "form-control" %>
      </div>
    </div>

    <div class="form-group">
      <%= f.label :first_name, class: "control-label col-sm-3" %>
      <div class="col-sm-3">
        <%= f.text_field :first_name, class: "form-control" %>
      </div>
    </div>

    <div class="form-group">
      <%= f.label :last_name, class: "control-label col-sm-3" %>
      <div class="col-sm-3">
        <%= f.text_field :last_name, class: "form-control" %>
      </div>
    </div>

    <div class="form-group">
      <%= f.label :gender, class: "control-label col-sm-3" %>
      <div class="col-sm-3">
        <label>
          <%= f.radio_button :gender, 'Male', checked:true %> Male
        </label>
        <label>
          <%= f.radio_button :gender, 'Female' %> Female
        </label>
      </div>
    </div>

    <div class="form-group">
      <%= f.label :location, class: "control-label col-sm-3" %>
      <div class="col-sm-3">
        <%= f.collection_select(:location, Country.all, :name, :name, :include_blank => "None") %>
      </div>
    </div>

    <div class="form-group">
      <%= f.label :lang, "Language Contribution", class: "control-label col-sm-3" %>
      <div class="col-sm-3">
        <%= f.collection_select(:lang, Language.all, :name, :name, :include_blank => "None") %>
      </div>
    </div>

    <div class="form-group">
      <%= f.label :contact, "Contact Number", class: "control-label col-sm-3" %>
      <div class="col-sm-3">
        <%= f.text_field :contact, class: "form-control" %>
      </div>
    </div>

    <div class="form-group">
      <%= f.label :gender, class: "control-label col-sm-3" %>
      <div class="col-sm-3">
        <%= f.select :gender, options_for_select(User::GENGER.collect{ |id, name| [name.to_s.humanize, id]}, f.object.gender) %>
      </div>
    </div>     

    <div class="form-group">
      <div class="col-sm-offset-3 col-sm-3 remember_block">
        <label for="user_accept_invitation" class="checkbox">
          <%= f.check_box :accept_invitation %> Don't send invitation email
        </label>
      </div>
    </div>

    <div class="form-group">
      <%= f.label :password, class: "control-label col-sm-3" %>
      <div class="col-sm-3">
        <%= f.password_field :password, class: "form-control" %>
      </div>
    </div>

    <div class="form-group form-actions">
      <div class="col-sm-offset-3 col-sm-3">
        <button class="btn btn-primary" type="submit">Update</button>
      </div>
    </div>

    <% end %>
  </div>
</div>
