<h2>Contact Information</h2>

<dl class="dl-horizontal">
  <dt>First Name</dt>
  <dd><%= @user.first_name %></dd>

  <dt>Last Name</dt>
  <dd><%= @user.last_name %></dd>

  <dt>Email</dt>
  <dd><%= @user.email %></dd>

  <dt>Gender</dt>
  <dd><%= @user.gender %></dd>

  <dt>Location</dt>
  <dd><%= @user.location %></dd>

  <dt>Language Contribution</dt>
  <dd><%= @user.lang %></dd>

  <dt>Contact Number</dt>
  <dd><%= @user.contact %></dd>

  <% if !@user.login_approval_at %>
    <dd><b>The user first needs to be approved to use the account.</b></dd>
  <% end %>
</dl>

<%= link_to 'Edit', edit_user_path(@user) %>
