<nav class="navdrawer-container promote-layer">
    <div class="UserDetails sidebarNav">
        <div class="dropdown js-UserDetails">
            <a data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" href="#" class="UserDetails-link" aria-hidden="true">
                <%= image_tag ("user.png")%>
                <span class="UserDetails-name"><%= current_user.first_name if user_signed_in? %></span>
                <i class="icon-chevron-down-thin UserDetails-more"></i>
            </a>

            <ul class="dropdown-menu">
                <li><%= link_to "Your Account", edit_user_registration_path %></li>
                <li><%= link_to 'Logout', destroy_user_session_path, method: :delete, id: "sign_out_link" %></li>
            </ul>
        </div>
    </div>

    <%= render_navigation(level: 1) %>
    <%= render_navigation(level: 1, context: :settings) %>
</nav>
