<h2><%= t "devise.invitations.new.header" %></h2>

<div class="row">
  <div class="col-md-12">
<% puts resource.to_json %>
<%= form_for resource, as: resource_name, url: invitation_path(resource_name), html: {method: :post, class: "form-horizontal"} do |f| %>
  <%= devise_error_messages! %>

  <div class="form-group">
    <%= f.label :first_name, class: "control-label col-sm-3" %>
    <div class="col-sm-3">
    <%= f.text_field :first_name, class: "form-control" %>
    </div>
  </div>

  <div class="form-group">
    <%= f.label :last_name, class: "control-label col-sm-3" %>
    <div class="col-sm-3">
    <%= f.text_field :last_name, class: "form-control" %>
    </div>
  </div>

  <div class="form-group">
    <%= f.label :email, class: "control-label col-sm-3" %>
    <div class="col-sm-3">
    <%= f.text_field :email, class: "form-control" %>
    </div>
  </div>

  <div class="form-group">
    <%= f.label :role_id, class: "control-label col-sm-3" %>
    <div class="col-sm-3">
      <%= f.select :role_id, role_options(resource), lass: "form-control"  %>
    </div>
  </div>

  <div class="form-group form-actions">
    <div class="col-sm-offset-3 col-sm-3">
      <%= f.submit t("devise.invitations.new.submit_button"), class: "btn btn-primary" %>
    </div>
  </div>
<% end %>
  </div>
</div>
