<%= form_for @country, html: {class: "Form--dual", id: "_form"} do |f| %>
    <%= render partial: "shared/error_messages", object: @country %>

    <div class="Form--dualDivider">
        <div class="g--half">
            <div class="Form-group">
                <%= f.label :organization_id, "Organization" %>
                <%= f.collection_select(:organization_id, Organization.all, :id, :name, {prompt: true}, {class: "Form-control"}) %>
            </div>

            <div class="Form-group">
                <%= f.label :name %>
                <%= f.text_field :name, class: "Form-control" %>
            </div>

            <div class="form-group">
                <%= f.label :user_id, "Manager" %>
                <%= f.collection_select(:user_id, User.with_any_role(:superadmin, :admin), :id, :username, {prompt: true}, {class: "Form-control"}) %>
            </div>
        </div>
    </div>
<% end %>
