<h1>Listing countries</h1>

<table class="table table-striped">
  <tr>
     <th>Organization</th>
     <th>Country</th>
     <th>Email Id</th>
     <th>Address</th>
     <th>Contact Number</th>
    <th colspan="3"></th>
  </tr>

<% @countries.each do |country| %>
  <tr>
     <td><%= country.organization.name %></td>
     <td><%= country.name %></td>
     <td><%= country.email %></td>
     <td><%= country.address %></td>
     <td><%= country.contact %></td>
      <td><%= link_to 'Show', country_path(country) %></td>
      <td><%= link_to 'Edit', edit_country_path(country) %></td>
      <td><%= link_to 'Delete', country_path(country), method: :delete, class: "btn btn-danger btn-xs", data: { confirm: 'Are you sure?' } %></td>
  </tr>
<% end %>

</table>

<%= paginate @countries %>
