<h2>Contact Information</h2>

<hr />

<% if current_user.login_approval == 'Yes' %>
<% if current_user.role == 'Admin' or current_user.role == 'Volunteer' %>

<dl class="dl-horizontal">
  <dt>First Name</dt>
  <dd><%= @user.first_name %></dd>

  <dt>Last Name</dt>
  <dd><%= @user.last_name %></dd>

  <dt>Email</dt>
  <dd><%= @user.email %></dd>

  <dt>Gender</dt>
  <dd><%= @user.gender %></dd>

  <dt>Location</dt>
  <dd><%= @user.location %></dd>

  <dt>Language Contribution</dt>
  <dd><%= @user.lang %></dd>

  <dt>Contact Number</dt>
  <dd><%= @user.contact %></dd>

  <dt>Role</dt>
  <dd><%= @user.role %></dd>

  <dt>Login Approval</dt>
  <dd><%= @user.login_approval %></dd>
</dl>

<%= link_to 'Edit', edit_user_path(@user) %>

<% end %>
<% end %>
